.tab-active {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.tab-active .text-wrapper {
  color: var(--font-high-emphasis);
  font-family: "Raleway", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tab-active .rectangle {
  align-self: stretch;
  background-color: #25282b;
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}
