.button-primary {
  align-items: flex-start;
  background-color: var(--brandyellow);
  border-radius: 8px;
  display: inline-flex;
  padding: 8px 24px;
  position: relative;
}

.button-primary .text {
  color: #25282b;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
